@import "_sidebar.scss";
@import "_content.scss";
@import "_userslist.scss";
@import "_auth.scss";
@import "_misc.scss";

$flash-bg-color: #ff6a00;// #fbf8b2;

body {
    background: white;
}

.app {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background: white;

    .sidebar {
        /*width: 270px;
        min-width: 270px;*/
        /*min-width: unset;
        width: unset;*/
        margin: 9px 4px;
    }

    .main-content {
        flex-grow: 1;
    }

    .users-container {
        width: 250px;
        min-width: 250px;
    }

    .agents-container {        
        max-width: 150px;
    }
}

.flashBackgroundAnimation {
    animation: flashBackgroundAnimation 1s ease-out;
    animation-iteration-count: 2;
}

@keyframes flashBackgroundAnimation {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: $flash-bg-color;
    }

    100% {
        background-color: transparent;
    }
}

@-webkit-keyframes flashBackgroundAnimation {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: $flash-bg-color;
    }

    100% {
        background-color: transparent;
    }
}

@-moz-keyframes flashBackgroundAnimation {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: $flash-bg-color;
    }

    100% {
        background-color: transparent;
    }
}

@-ms-keyframes flashBackgroundAnimation {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: $flash-bg-color;
    }

    100% {
        background-color: transparent;
    }
}